#start{
    z-index: 1 ;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
} 
#imgStart{
    width: 250px;
}
#start:hover{
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
}

.bt_mov{
    width: 40px;
    height: 40px;
    display: flex;
    background: none;
    border: none ;
    z-index: 1 ;
}

.bt_int {
    background: none;
    cursor: pointer;
    border: none;
}

.bt_mov:hover{
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
}

#esquerda{
    left: 12vw;
    top: 48vh;
}

#direita{
    right: 12vw;
    top: 48vh;
}

#baixo{
    top: 85vh;
    z-index: 4;
}

.imgbt{
    width: 35px;
    left: 1px;
}

#inventariogeral{
    /* left: -11.1vw; */
    bottom: 10vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.btn_inventory{
    display: flex;
    position: relative;
    width: 90px;
    height: 90px;
    border: none;
    /* top: 25vh;
    left: -9.5vw; */
    background: none;
    color: white;
}

.btn_inventory p{
    padding-top: 10px;
    padding-left: 14px;
    z-index: 2;
}

.btn_inventory_semPadrao{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* border: 2px solid blue; */
    background: none;
    color: white;
    /* padding: 2px; */
    transform: scale(0.8);
    z-index: 1;
}

#img_inv{
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 0;
}

/* #img_inv{
    width: 420px;
    left: -11.1vw;
    top: 23vh;
} */

.setas {
    left:-10.5vw; 
    top: -22vh; 
    height: 400px; 
    width: 400px; 
    position: absolute; 
    background: none;
}

@media only screen and (max-width: 1000px) {
    #imgStart {
        width: 20vw;
    }

    .btn_inventory {
        width: 50px;
        height: 50px;
    }

    .btn_inventory p{
        font-size: x-small;
        padding-top: 8px;
        padding-left: 10px;
    }

    .setas {
        left: -12.4vw;
        top: -27vh; 
        height: 250px; 
        width: 250px;
    }

    #seta1Check {
        opacity: 50%;
    } 

    #seta2Check {
        opacity: 50%;
    }    
}