#start{
    z-index: 1 ;
    width: 250px;
    height: 50px ;
    position: absolute;
    top: 500px;
    left: 500px;
    background: none;
    border: none;
} 
#imgStart{
    width: 250px;
    left: 0.2px;
}
#start:hover{
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
}
.bt_mov{
    width: 40px;
    height: 40px;
    display: flex;
    background: none;
    border: none ;
    z-index: 1 ;
}

.bt_int {
    background: none;
    cursor: pointer;
    border: none;
    
}

.bt_mov:hover{
transform: scale(1.05);
transition: transform 200ms ease-in-out;
}

#esquerda{
    left: 20px;
    top: 360px;
    
}
#direita{
    top: 360px;
}

#baixo{
    left: 640px;
    top: 650px;
    z-index: 1;
}

.imgbt{
    width: 35px;
    left: 1px;
}

.btn_inventory{
    display: flex;
    width: 90px;
    height: 90px;
    border: none;
    top: 555px;
    left: 475px;
    background: none;
    color: white;
    padding: 2px;
}


.btn_inventory_semPadrao{
    display: flex;
    width: 90px;
    height: 90px;
    border: none;
    background: none;
    color: white;
    padding: 2px;
    transform: scale(0.8)
}

#img_inv{

    width: 420px;
    left: 445px;
    top: 530px;
}