* {
    position: absolute;
    /* top: 0; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#bg{
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.bg{
    /* width: 100vh;
    height: 100vh;
    width: 100vh;
    height: 100vh;  */
    background-color: black;
} 

#tutorial {
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size:large;
    font-weight: medium;
    font-family: Arial, Helvetica, sans-serif;
}

#tutorialFase2 {
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size:medium;
    font-weight: medium;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1000px) {
    #tutorial {
        font-size: medium;
        padding-top: 20px;
    }    
    
    #tutorialFase2 {
        font-size: small;
        font-weight: 600;
        margin-top: 50px;
    }
}