#start{
    z-index: 1 ;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 355px;
} 
#start:hover{
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
}
.bt_mov{
    width: 40px;
    height: 40px;
    display: flex;
    background: none;
    border: none ;
}
.bt_mov:hover{
transform: scale(1.05);
transition: transform 200ms ease-in-out;
}

#esquerda{
    left: 20px;
    top: 360px;
    
}
#direita{
    left: 740px;
    top: 360px;
    
}
#baixo{
    left: 380px;
    top: 750px;
}
.imgbt{
    width: 35px;
    left: 1px;
}